# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock

# Android
android/.gradle/
android/local.properties
android/key.properties
android/*.jks
android/upload-keystore.jks
*.log

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# IDE
.idea/
.vscode/
*.iml

# Secrets - NEVER commit these
google-services.json
GoogleService-Info.plist

